@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 790px;
    width: 100%;
    max-width: 1500px;  
}
button {
    width: 400px;
    height: 100px;
    background-color: white;
    border: none;
    margin-bottom: 20px;
    padding: 40px 0 45px 0;
    font-size: 20px;
    line-height: 27px;
    color: #262626; 
    font-weight: 700;
    font-family: "Raleway"; 
    align-items: center; 
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}


  .buttons {
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    padding-top: 180px;  
  }
  

.content {
    position: relative; 
}
.text {
    position: absolute;
    top: 330px;
    left: 795px;
    font-size: 90px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    text-align: right;  
}

.icon {
  
    border-left: 1px solid rgb(216, 205, 205);
    margin-top: 5px;
    margin-right: 0px;
    margin: 5px 0 0 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;

}
.btn-name {
    display: flex;
    flex: 3;
    justify-content: center;
}
 
  
  
