@-ms-viewport{
    width: device-width;
  }
  
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-yellow {
  background-color: #ffe92f;
  width: 100%;
  max-width: 120rem;
}

.background-yellow__gallery-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 36.25rem;
}

.pictures-content {
  margin: 0 auto;
  width: 100%;
  max-width: 73.125rem;
  padding-bottom: 3.125rem;
}

#plate {
  background-image: url(img/plate.png);
  height: 34.375rem;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 75%;
  display: block;
}

#berries {
  background-image: url(img/berries.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 16.25rem;
  width: 100%;
  max-width: 30%;
  margin-left: 1.875rem;
  display: block;
}

#berries2 {
  background-image: url(img/berries2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 16.25rem;
  width: 100%;
  max-width: 30%;
  margin-left: 51.75rem;
  margin-top: -16.25rem;
  display: block;
}

#bowl {
  background-image: url(img/bowl.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 16.25rem;
  width: 100%;
  max-width: 48.43%;
  margin-top: 1.875rem;
  display: block;
}

#fruit {
  background-image: url(img/fruit.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 16.25rem;
  width: 100%;
  max-width: 48.43%;
  margin-left: 1.875rem;
  margin-top: 1.875rem;
  display: block;
}

.view-more {
  color: white;
  background-color: #5585a2;
  width: 10%;
  height: 3.438rem;
  border-color: transparent;
  cursor: pointer;
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7.5rem;
}

.subscribe-background {
  background-image: url(img/bg.png);
  width: 100%;
  max-width: 120rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe__content {
  padding-bottom: 10rem;
  padding-top: 9.063rem;
  padding-left: 10.313rem;
  max-width: 48.125rem;
  width: 100%;
}

input.input-email {
  height: 3.125rem;
  width: 35.625rem;
  padding-left: 0.938rem;
}

.subscribe__btn {
  width: 10.625rem;
  height: 3.125rem;
  background-color: #96b92c;
  color: white;
  border-color: transparent;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.875rem;
}
