
/* ---------GENERAL------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-size: 20px;
  }
  html {
    scroll-behavior: smooth;
  }
html, body {
    height: 100%;
    width: 100%;
}

/* --------HEADER----------- */
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* --------NAVIGATION----------- */

.navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
    color: white;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show>.nav-link {    
    color: rgb(255, 255, 255) !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.08rem !important;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .navbar-light .navbar-toggler, .navbar-toggler:focus, button:focus:not(:focus-visible) {
    color: transparent !important;
    border-color: transparent !important;
}

.bar1, .bar2, .bar3 {
  
    background-color: white;
    
}


@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-direction: row-reverse;
  }
}

/* --------LANG---------- */
.ua-flag, .ru-flag {
    padding-right: 15px;
    cursor: pointer;
}


/* ---------BANNER--------- */


.banner__container  {
    padding: 170px 70px 50px 70px;
    
    text-align: center;
    color: black;
    background-image: url("img/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
}
.banner__layout {
    opacity: 0.5;
    background: white;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.banner__text {
    position:relative ;
    z-index: 2;
    color: #642b72;
}
.banner__container h3 {
    margin-top: 50px;
    line-height:30px;
}
.banner__container h2 {
    padding-bottom: 30px;
    margin-bottom: 0px;
}


/* .banner {
    /* background-image: url("img/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0; */
    /* opacity:0.2;
} */ 
button.start {
    padding: 20px 30px;
    margin: 60px 0;
    color: white;
    background-color: #e74090;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent !important;

}
button.start:focus {
    color: #333 !important;
    background-color: transparent;
    border: 2px solid white !important;
}
button.start:hover {
    border: 2px solid #642b72 !important;
    color: #642b72 !important;
    background-color: transparent;
}

.about__container {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto !important;
    padding: 80px 0;
}

.row__left-block {
    padding-right: 30px;
}
@media (max-width: 992px) {
    .about__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }
    .row__right-block {
        margin: 0 auto;
    }
    .banner__container {
        padding: 170px 30px 40px 30px;
    }
    .banner__container h3 {
        padding-bottom: 0px;
    }
    button.start {
        margin: 30px 0 40px 0;
    }
    .footer__menu {
        display: flex !important;
        flex-direction: column !important;
    }
    .format__container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 320px) {
    .row__right-block {
        margin: 0 auto;
        width: 70%;
    }
    .format__container {
        display: flex;
        flex-direction: column;
    }
    .format__mob {
        display: flex;
        flex-direction: column !important; 
        
    }
}
.about__container p {
    /* font-size: 22px; */
    line-height: 32px;
}
.about__container h2 {
    color: #e74090;
    font-size: 42px;
}
.about__container h6 {
    padding: 10px 0 20px 0;
    color: grey;
}
.row__right-block {
    width: fit-content;
}
button.about-trainer:focus {
    border: 2px solid #642b72 !important;
    color: #e74090 !important;
}
button.about-trainer:hover {
    border: 2px solid #642b72 !important;
    color: #642b72 !important;
    background-color: transparent;
}
.delatls__container {
    /* width: 80%; */
    margin: 0 auto;
    background-color: #642b72;
    padding: 80px 20px 10px 20px;
    text-align: center;
    color: white;
}
.delatls__container h2, h3 {
    padding-bottom: 10px;
    color: #e74090;
}

.details__list {
    background-color: #642b72;
    padding-bottom: 80px;
    color: white;
}
.details__list ul {
    margin: 0 auto;
    width: 70%;
}
.program-container, .about__container {
    margin: 0 auto;
    padding: 80px 20px;
}
.program-container h2, h5 {
    text-align: center;
    color: #e74090;
}
.program-container ul {
    margin: 0 auto;
    width: 70%;
}

.format_container {
  
    padding: 20px;
 
    color: white;
    text-align: center;
    background-color: #642b72;
    
}

.format__grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-gap: 20px;
}
.format_container h2 {
    padding-bottom: 30px;
    padding-top: 60px;
    color: #e74090;
}
.format__grid__grid-one, .format__grid__grid-two, .format__grid__grid-three {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
}
.format__grid h5, h6 {
    color: #e74090;
}
button.ask {
    padding: 20px 30px;
   
    color: white;
    background-color: #e74090;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent !important;
}
button.ask:hover, button.ask:focus,
.start-program:hover, .start-program:focus {
    color: white;
    background-color: transparent;
    border: 2px solid white !important;
}
.start-program {
    padding: 20px 30px;
   margin-bottom: 60px;
   margin-right: 20px;
    color: white;
    background-color: #e74090;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent !important;

}
.organization__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 80px 20px;
}
.organization__container h2 {
    color: #e74090;
}

/* --------FOOTER----------- */

.footer {
    background-color: #777777;
    background-size: cover;
    color: white;
    width: 100%;
    
   
}

.footer a {

    color: white; 
    
}

.footer p {
    font-size: 14px !important;
}
.footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 5px 30px 10px;
}