
/* ---------GENERAL------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
html, body {
    height: 100%;
    width: 100%;
}

/* --------HEADER----------- */
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* --------NAVIGATION----------- */

.navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
    color: white;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show>.nav-link {    
    color: rgb(255, 255, 255) !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.08rem !important;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .navbar-light .navbar-toggler, .navbar-toggler:focus, button:focus:not(:focus-visible) {
    color: transparent !important;
    border-color: transparent !important;
}

.bar1, .bar2, .bar3 {
  
    background-color: white;
    
}


@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-direction: row-reverse;
  }
}

/* --------LANG---------- */
.ua-flag, .ru-flag {
    padding-right: 15px;
    cursor: pointer;
}


/* ---------MAIN--------- */
/* h1 {
    padding-top: 170px;
    text-align: center;
    color: #642b72;
    z-index: 2;
    
} */

.banner__text {
    padding: 170px 50px 0 60px;
    text-align: center;
    color: black;
    z-index: 2;
     
}

.banner__text p {
    font-size: 28px;
    line-height: 32px;
}
.banner {
    background-image: url("img/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    z-index: 0;
    opacity:0.2;
}

/* --------FOOTER----------- */

.footer {
    background-color: #777777;
    background-size: cover;
    color: white;
    width: 100%;
    position: static;
}
footer a {

    color: white; 
}
.footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 5px 30px 10px;
}