
/* ---------GENERAL------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-size: 20px;
  }
  html {
    scroll-behavior: smooth;
  }
html, body {
    height: 100%;
    width: 100%;
}

/* --------HEADER----------- */
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* --------NAVIGATION----------- */
.ru-flag {
    padding-right: 15px;
    cursor: pointer;
   
    
}
.ua-flag, .ru-flag {
    padding-top: 7px;
}

.navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
    color: white;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show>.nav-link {    
    color: rgb(255, 255, 255) !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.08rem !important;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .navbar-light .navbar-toggler, .navbar-toggler:focus, button.navbar-toggler:focus:not(:focus-visible) {
    color: transparent !important;
    border-color: transparent !important;
}

.bar1, .bar2, .bar3 {
  
    background-color: white;
    
}


@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-direction: row-reverse;
  }
}

/* --------LANG---------- */
.ua-flag, .ru-flag {
    padding-right: 15px;
    cursor: pointer;
}


/* ---------BANNER--------- */


.banner__container  {
    padding: 170px 70px 50px 70px;
    
    text-align: center;
    color: black;
    background-image: url("../img/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
}
.banner__layout {
    opacity: 0.7;
    background: white;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.banner__text {
    position:relative ;
    z-index: 2;
    color: #642b72;
}
.banner__container h3 {
    margin-top: 50px;
    line-height:30px;
}
.banner__container h2 {
    padding-bottom: 30px;
    margin-bottom: 0px;
}

button.start {
    width: 12.5rem;
    padding: 20px 30px;
    margin: 30px 0;
    color: white;
    background-color: #e74090;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent !important;

}
button.start:focus {
    border: 2px solid #642b72 !important;
    color: #642b72 !important;
    background-color: transparent;
}
button.start:hover {
    border: 2px solid #642b72 !important;
    color: #642b72 !important;
    background-color: transparent;
}

.about__container {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto !important;
    padding: 80px 0;
}

.row__left-block {
    padding-right: 30px;
}

.about__container p {
    /* font-size: 22px; */
    line-height: 32px;
}
.about__container h2 {
    color: #e74090;
    font-size: 42px;
}
.about__container h6 {
    padding: 10px 0 20px 0;
    color: grey;
}
.row__right-block {
    width: fit-content;
}
button.ask-question:focus {
    border: 2px solid #642b72 !important;
    color: #e74090 !important;
}
button.ask-question:hover {
    border: 2px solid #642b72 !important;
    color: #642b72 !important;
    background-color: transparent;
}
.delatls__container {
    /* width: 80%; */
    margin: 0 auto;
    background-color: #642b72;
    padding: 80px 20px 10px 20px;
    text-align: center;
    color: white;
}
.delatls__container h2, h3 {
    padding-bottom: 10px;
    color: #e74090;
}

.details__list {
    background-color: #642b72;
    padding-bottom: 80px;
    color: white;
}
.details__list ul {
    margin: 0 auto;
    width: 70%;
}
.program-container, .about__container {
    margin: 0 auto;
    padding: 80px 20px;
}
.program-container h2, h5 {
    text-align: center;
    color: #e74090;
}
.program-container ul {
    margin: 0 auto;
    width: 70%;
}
.program-container li {
    list-style: none;
    
    
    padding: 10px;
    border: 1px solid transparent;
}
.program-container li:hover {
    list-style: none;
    border: 1px solid white;
    padding: 10px;
   color: white;
   background: #642b72;
}
.format_container {
  
    padding: 20px;
 
    color: white;
    text-align: center;
    background-color: #642b72;
    
}

.format__grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.format_container h2 {
    padding-bottom: 30px;
    padding-top: 60px;
    color: #e74090;
}
.format__grid__grid-one, .format__grid__grid-two, .format__grid__grid-three {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
}
.format__grid h5, h6 {
    color: #e74090;
}
button.ask {
    padding: 20px 30px;
    width: 12.5rem;
    color: white;
    background-color: #e74090;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent !important;
}
button.ask:hover, button.ask:focus,
.start-program:hover, .start-program:focus {
    color: white;
    background-color: transparent;
    border: 2px solid white !important;
}

.start-program {
    width: 12.5rem;
    padding: 20px 30px;
   margin-bottom: 60px;
   margin-right: 20px;
    color: white;
    background-color: #e74090;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent !important;

}
.organization__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 80px 20px;
}
.organization__container h2 {
    color: #e74090;
}
/* -----------Accordion-------- */
.faq__container {
    padding: 50px 0;
    width: 70%;
    margin: 0 auto;
}
.faq__container h2 {
    text-align: center;
    padding-bottom: 15px;
    color: #e74090;
}
.accordion {
    background-color: #e74090;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .accordion:active, .accordion:hover {
    background-color: #e74090;
  }
  
  .accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .accordion.active:after {
    content: "\2212";
  }
  button.accordion:focus:not(:focus-visible) {
      color: white !important;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  /* -------Gallery----- */
  #gallery__course-gallery-grid {
    /* display: grid !important;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px; */
    display: grid;
    grid-gap: 10px;
    margin: 0 auto;
  }
  .pic-1 {
    grid-column: 1; 
    grid-row: 1;
  }
  .pic-2 {
    grid-column: 2; 
    grid-row: 1;
  }
  .pic-3 {
    grid-column: 3; 
    grid-row: 1;
  }
  .pic-4 {
    grid-column: 1; 
    grid-row: 2;
  }
  .pic-5 {
    grid-column: 2; 
    grid-row: 2;
  }
  .pic-1 {
    grid-column: 3; 
    grid-row: 2;
  }
  .gallery__container  {
    /* width: 65%;
    max-width: 1900px; */
    margin: 0 auto;
    display: grid !important;
  }
  .gallery__container h2 {
    text-align: center;
    padding-bottom: 15px;
    color: #e74090;
  }
#map {
    height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
/* ----------form-ask---------- */
.form-ask-question-container {
    width: 60%;
    background-color: #e74090;
    position: absolute;
    left: 20%;
    top: 100%;
    border: 5px solid white;
   display: none;
}
.form-ask {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px;
}
.form-ask input {
    margin-bottom: 10px;
}
.form-ask-submit {
    color: white;
    background-color: #642b72;
    border: 2px solid transparent;
    width: 50%;
    padding: 15px;
    margin: 10px auto;
}
.form-ask-submit:hover, .form-ask-submit:focus {
    background-color: transparent;
    border: 2px solid white;
}

/* ---------form-register---------- */
.form-register-container {
    width: 60%;
    background-color: #e74090;
    position: absolute;
    left: 20%;
    top: 100%;
    border: 5px solid white;
    display: none; 
}
.form-register {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px;
}
.form-register input {
    margin-bottom: 10px;
}
.form-register-submit {
    color: white;
    background-color: #642b72;
    border: 2px solid transparent;
    width: 50%;
    padding: 15px;
    margin: 10px auto;
}
.form-register-submit:hover, .form-register-submit:focus {
    background-color: transparent;
    border: 2px solid white;
}
/* --------FOOTER----------- */

.footer {
    background-color: #777777;
    background-size: cover;
    color: white;
    width: 100%;
    
   
}

.footer a {

    color: white; 
    
}

.footer p {
    font-size: 14px !important;
}
.footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 5px 30px 10px;
}
/* ----------media---------- */





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-width: 280px) {
    img.portrait {
        width: 100%
    }
    .about__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        align-items: center;
    }
     .format__grid {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
     /* .gallery__container{
        display: none !important;
    }  */
    #gallery__course-gallery-grid {
    
        display: flex;
       flex-direction: column;
    }
    
    .delatls__container {
        padding-top: 20px;
        
    }
    .details__list {
        padding-bottom: 20px;
    }
    .program-container {
        padding: 20px;
    }
    .banner__container {
        padding: 120px 20px 20px 20px;
    }
    .about__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        width: 100%;
    }
    .row__left-block {
         padding-right: 0px; 
    }
    .program-container ul {
        margin: 0 auto;
        width: 100%;
    }
    .start-program {
        margin-bottom: 20px;
        padding: 15px 20px;
        margin-right: 0px;
    }
    button.ask {
        padding: 15px 20px;
    
        margin-bottom: 20px;
    }
    .organization__container {
        width: 100%;
        padding: 20px;
    }
    .faq__container {
        width: 90%;
    }
   /* The Close Button */
 .close {
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
    font-size: 32px;
  }
  
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)and (max-width : 768px) {
    /* .gallery__container{
        display: none !important;
    }  */
    .about__container {
        width: 100%
    }
    .row__left-block {
        padding-right: 0px; 
    }
    .program-container ul {
    margin: 0 auto;
    width: 100%;
    }
    
    .row__right-block {
        margin: 0 auto;
        
    }
    .format__grid {
        display: flex;
        flex-direction: column;
    }
    #gallery__course-gallery-grid {
        /* grid-template-columns: 250px 250px;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 13px;
        padding: 15px; */
        display: grid;
        grid-gap: 10px;
    }
    .pic-1 {
        grid-column: 1; 
        grid-row: 1;
      }
      .pic-2 {
        grid-column: 2; 
        grid-row: 1;
      }
      .pic-3 {
        grid-column: 1; 
        grid-row: 2;
      }
      .pic-4 {
        grid-column: 2; 
        grid-row: 2;
      }
      .pic-5 {
        grid-column: 1; 
        grid-row: 3;
      }
      .pic-1 {
        grid-column: 2; 
        grid-row: 3;
      }
      .gallery__container {
          margin: 0 auto;
          width: 90%;
      }
      .about__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        align-items: center;
        width: 100%;
    }
    #gallery__course-gallery-grid img {
        width: 250px;
    }
    .organization__container {
        width: 100%;
        
        padding: 20px;
    }
    .start-program {
        margin-bottom: 20px;
        padding: 15px 20px;
        margin-right: 0px;
    }
    button.ask {
        padding: 15px 20px;
        margin-bottom: 20px;
    }
    .faq__container {
        width: 90%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    /* .gallery__container {
        width: 100%;
        /* max-width: 1900px; 
        padding: 20px; 
    }  */
    /* .gallery__container{
        display: none !important;
    }  */
    #gallery__course-gallery-grid {
    
        display: grid;
        grid-gap: 10px;
    }
    .pic-1 {
        grid-column: 1; 
        grid-row: 1;
      }
      .pic-2 {
        grid-column: 2; 
        grid-row: 1;
      }
      .pic-3 {
        grid-column: 1; 
        grid-row: 2;
      }
      .pic-4 {
        grid-column: 2; 
        grid-row: 2;
      }
      .pic-5 {
        grid-column: 1; 
        grid-row: 3;
      }
      .pic-1 {
        grid-column: 2; 
        grid-row: 3;
      }
    .format__grid {
        width: 100%;
        width: 100%;
    padding: 20px;
    grid-gap: 5px;
    }
    .format_container {
        padding: 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}