* {
    padding: 0;
    margin: 0;
}
div.wrapper {
    display: flex;
    background-color: rgb(252, 222, 126);
    margin: 0 auto;
    width: 100%;
    height: 700px;
    justify-content: space-evenly;
    flex-direction: row;
}
div.block {
    height: 80%;
    width: 30%;
    background-color: white;
    margin: 70px 5px;  
}
div#middle.block {
    height: 90%;
    margin-top: 35px;
    position: relative;
}
.bronze, .gold, .silver {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    margin-top: 82px;
}
div.gold {   
    margin-top: 80px;
}
.cont {
    display: flex;
    flex-direction: row;
    width: 160px;
    margin: 0 auto;    
}
.left {
    width: 20%;
}
.right {
    width: 20%;
}
.cent {
   width: 60%;
   min-width: 160px;
   min-height: 100px;
    position: relative;  
}
img.bean {
    position: absolute ;
    top: 25px;
    left: 50px;
}
img.smoke {
    position: absolute ;
    top: -50px;
    left: 50px;
}
 p {
    font-family: "Miso" 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: fit-content;
    font-size: 35px;
    color: rgb(114, 113, 113);
    font-family: "Miso";  
}
@font-face {
    font-family: "Miso";
    src: url(fonts/miso-bold.ttf) format("truetype");
    src: url(fonts/miso-bold.woff );
}
.price {
  margin-top:-80px;
  margin-bottom: 60px;
  font-size: 70px;
  font-weight: bold;
  color: green;
  font-family: "Miso";
}
h1 {
font-size: 56px;
font-family: "Miso";
font-weight: normal;
}

