


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }

html,
body {
    width: 100%;
    height: 100%;
}


/* -----------general--------- */

.container {
	max-width: 1170px;
	
	margin: 0 auto;
}





/* --------header----- */
.header {
    width: 100%;
    background-color: #756af8;
    background-size: cover;
    height: 30vh;
}

.logo {
    
    float: left;
}
header li {
    list-style: none;
    color: white;
}
.nav-menu li a {
    color: white;
    text-decoration: none;
    
}
ul {
    color: white;
}
/* ---------nav------------ */
.social_list li {
    list-style: none;
    padding-left: 20px !important;
}
.social_list {
    margin-left: 80px;
    margin-top: -15px;
}
.main-navigation {
    padding-top: 60px;
}
    
.main-navigation .container,
.social_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.nav-menu {
    display: flex;
    flex-direction: row;
}
ul.nav-menu li {
  padding-left: 68px;
  padding-top: 25px;
}

ul.nav-menu li a {
        font-size: 14px;
        font-family: "Aleo";
        text-transform: uppercase;
        font-family: "Gotham";
}
.burger-check {
    display: none;
    position: absolute;
    right: 29px;
}
.burger {
    color: white;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ ul.nav-menu {
    bottom: -57px;
    /* background-color: #5474fd; */
    border-top: 1px solid #fff;
    padding: 20px 5px;
    max-height: 500px;
    width: 100%;
    right: 0;
    left: 0;
    display: flex;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
    position: absolute;
    justify-content: space-around;
}
@media screen and (min-width: 768px) {
	.burger {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	ul.nav-menu {
		display: none;
	    overflow: hidden;
	    max-height: 0;
	    -webkit-transition: max-height 0.5s ease-in-out;
	    transition: max-height 0.5s ease-in-out;
	}
	ul.nav-menu li {
	    padding-left: 0;
	}
	ul.nav-menu li a {
	    font-size: 13px;
	}
}
/* ---------slider--------- */

/* --------gallery------ */

#grid { 
    
    display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  grid-template-rows: 215px 215px 215px;
  gap: 10px 10px;
  grid-template-areas: 
    "post-1 post-1 post-2 post-3"
    "post-1 post-1 post-4 post-5"
    "post-6 post-7 post-8 post-9";
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
  }
  .post-1 {
    grid-column: 1/2; 
    grid-row: 1/2;
  }
  .post-2 {
    grid-column: 3; 
    grid-row: 1;
  }
  .post-3 {
    grid-column: 4; 
    grid-row: 1;
  }
  .post-4 {
    grid-column: 3; 
    grid-row: 2;
  }
  .post-5 {
    grid-column: 4; 
    grid-row: 2;
  }
  .post-6 {
    grid-column: 1; 
    grid-row: 3;
  }
  .post-7 {
    grid-column: 2; 
    grid-row: 3;
  }
  .post-8 {
    grid-column: 3; 
    grid-row: 3;
  }
  .post-9 {
    grid-column: 4; 
    grid-row: 3;
  }
  h2 {
    padding: 180px 0  50px 0;
    text-align: center;
    font-size: 44px;
    color: #2c4058;
    font-family: "Gotham";
  }
  @font-face {
    font-family: "Gotham";
    src: url("../css/fonts/GothamMedium.woff") format("woff");
           
   }

   button.see-more {
       cursor: pointer;
       margin: 60px 0 135px  45.5%;
       width: 12%;
       height: 5vh;
       font-size: 0.875rem;
background-color: white;
color: #2c4058;
text-transform: uppercase;
font-family: "Gotham";
   }


   /* ----------footer--------- */

   footer {
       background-color: #55b6ff;
   }
footer p {
    padding-top: 50px;
    padding-bottom: 200px;
    color: white;
}
   .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 200px;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    
    
}
.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    padding-left: 80px;
    max-width: 770px;
    margin: 0 auto;
}
.footer-text p {
padding-left: 20px;
}
#with-decoration::before {
    content: "";
    border-left: white 2px solid;
    height: 50px;
    padding-left: 20px;
}

/* ------------filter-------- */
.filter-btns {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  justify-content: center;
}
.buildings-btn,
.apt-btn {
  cursor: pointer;
  width: 12%;
  padding: 5px;
  height: 5vh;
  font-size: 0.875rem;
  background-color: white;
  color: #2c4058;
  text-transform: uppercase;
  font-family: "Gotham";
}
button.apt-btn {
  margin-left: 20px;
}


/* --------map--------- */
#map {
  height: 80vh;
  width: 100%;
}
.Gmap {
  position: relative;
}

/* -------slider-------- */
.slick-dots {
  position: absolute;
  bottom: 50%;
  
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  padding: 0;
  margin: 0;
  list-style: none;
 
}

/* -----form------- */
form h3 {
  font-size: 44px;
  text-transform: uppercase;
  color: #2c4058;
  font-weight: 500;
  font-family: "Gotham";
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.form-containers {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  font-size: 18px;
line-height: 34px;
color: #7e5aff;
font-family: "Font Awesome";
padding-bottom: 80px;
   
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
input[type="submit"] {
  width: 50%;
  
}
.form {
  background-image: url("../img/form-bg.png");
  width: 45%;
  margin: 0 auto;
  position: absolute;
  left: 400px;
  bottom: -160px;
}
.form a {
  text-decoration: none;
  color: #7e5aff;
}
input#form-name,
input#form-email {
  border: 1px solid transparent;
  border-bottom: 1px solid grey;
  height: 30px;
  width: 310px;
  padding:20px 0 20px 0;

}
input#form-name:active,
input#form-email:active {
  border-bottom: 1px solid black;
}


input#form-submit {
  margin-top: 30px;
  height: 50px;
  width: 135px;
  font-size: 14px;
color: #2c4058;
font-weight: 400;
font-family: "Gotham";
text-align: center;
background-color: transparent;
}

form li:not(:last-child){
  padding-bottom: 10px;
}