@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

@-ms-viewport {
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*12-1*/
@media (max-width: 375px) {
  .content-fresh {
    width: 100%;
  }
  .header__top {
    width: 90%;
  }
}

.fresh-bg-image {
  z-index: -1;
  position: absolute;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
}
/* .header__menu {
  display: flex;
  width: 0%;
  justify-content: center; 
} */

.header-top {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  padding-top: 0.375rem;
  width: 80%;
  margin: 0 auto;
}
.nav__link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  color: #262626;
  font-weight: 700;
  font-family: "Raleway";
  float: right;
}

.nav__item {
  padding-top: 5px;
  border-top: transparent solid 3px;
  margin-left: 2.188rem;
}
.nav__item:hover {
  border-top: 3px solid orange;
}
a:hover {
  text-decoration: none;
  color: #262626;
}

.content-fresh {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  padding-left: 18px;
}

.content-fresh__text {
  width: 23.125rem;
  height: 4.313rem;
  font-size: 12px;
  line-height: 14px;
  color: #262626;
  font-weight: 300;
  font-family: "Raleway";
  width: 100%;
}
.content-fresh__FL {
    font-size: 1.5em;
    line-height: 1em;
    color: #262626;
    font-family: "Raleway";
    /* padding-bottom: 1.875rem; */
    width: 100%;
}

.get-free-btn {
  margin-top: 0;
  max-width: 70%;
  width: 100%;
  height: 25px;
  color: white;
  background-color: #ff6033;
  border: none;
  font-size: 12px;
  line-height: 1.688rem;
  color: #ffffff;
  font-weight: 300;
  font-family: "Raleway";
  box-shadow: 0 0 0.625rem #7d7d80;
  cursor: pointer;
  
}
.mouse {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    /* align-items: center;*/
   
}
.mouse-img {
    padding-bottom: 20px;
    padding-top: 5px;
}



.raspberry__bg-image {
  z-index: -1;
  position: absolute;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.about-raspberry-content {
  display: flex;
  flex-direction: column;
  z-index: -1;

  align-items: flex-end;
  width: 100%;
  /* padding: 180px 165px 0 0; */
}
.about-raspberry-content__inside-cont {
    width: 55%;
    height: 48vh;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    text-align: center;
}

.about-raspberry-content h1 {
    font-size: 16px;
    /* line-height: 1.688rem; */
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    padding-top: 10px;
   
    text-align: center;
}
.about-raspberry-content p {

  font-size: 9px;
  margin-bottom:5px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Raleway";
}

/*14-1*/

.background-tomato {
 
  z-index: -1;
  position: absolute;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.content-tomato {
    display: flex;
    flex-direction: row;
}
button.tomato {
    width: 62%;
    height: 25px;
    background-color: white;
    border: none;
    margin-bottom: 5px;
    padding: 1rem 0 1rem 0;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
    font-weight: 600;
    font-family: "Raleway";
    align-items: center;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons-tomato {
    margin-top: -97px;
    margin-left: 20px;
    /* padding-bottom: 3.125rem; */
    display: flex;
    flex-direction: column;
    width: 70%;
    
}
.text-tomato {
 
    margin-left: 190px;
    padding-top: 76px;
}
.text-tomato p {
  font-size: 18px;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 700;
  font-family: "Raleway";
  text-align: center;
  
}


.icon {
  border-left: 1px solid rgb(216, 205, 205);
  margin-top: 0.313rem;
  margin-right: 0px;
  margin: 1px 0 0 0;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}
.btn-name {
  display: flex;
  flex: 3;
  justify-content: center;
  width: 100%;
}

/*15-2*/
.background-yellow {
  background-color: #ffe92f;
 
}

.background-yellow__gallery-header {
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0 auto;
    text-align: center;
    /* width: 100%; */
    
    padding-top: 20px;
}

.plate { 
  z-index: 1;
  object-fit: contain;
  margin: 0 auto;
  
}


.berries {
    z-index: 1;
    object-fit: contain;
    margin: 0 auto;
    
}

.berries2 {
    z-index: 1;
    object-fit: contain;
    margin: 0 auto;
    
}

.bowl {

    z-index: 1;
   
    object-fit: contain;
    margin: 0 auto;
}

.fruit {
    z-index: 1;
   
    object-fit: contain;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.view-more {
    color: white;
    background-color: #5585a2;
    width: 27%;
    height: 2.438rem;
    border-color: transparent;
    cursor: pointer;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.subscribe-background {
  background-image: url(img/bg.png);
  width: 100%;
  max-width: 120rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe__content {
    padding: 20px;
    text-align: center;
}
.form-berries {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
}
input.input-email {
    height: 3.125rem;
    width: 300px;
    padding-left: 0.938rem;
    color: #262626 !important;
    margin: 0 auto;
}

.subscribe__btn {
    width: 12.625rem;
    height: 3.125rem;
    background-color: #96b92c;
    color: white;
    border-color: transparent;
    margin: 20px auto;
}



/*13-1*/

.form-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

.background-view {
    z-index: -1;
    position: absolute;
  
    object-fit: contain;
    margin: 0 auto;
}
.form-name > h1 {
    font-size: 24px;
    color: #262626;
    font-weight: bold;
    font-family: "Raleway";
    text-align: center;
    padding-top: 20px;
}

.form-name > p {  
    font-size: 12px;
    color: #262626;
    /* font-weight: 300; */
    font-family: "Raleway";
    margin: 0 auto;
    text-align: center;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 10px;
}
.info h3 {
    font-size: 12px;
    line-height: 1.563rem;
    color: #262626;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: -5px;
}

.info p {
    font-size: 14px;
    /* line-height: 1.563rem; */
    color: #262626;
    font-weight: 300;
    font-family: "Raleway";
    margin-bottom: 16px;
}

input.view,
textarea.view {
    width: 100%;
    margin-top: -20px;
    background-color: #00c4c4;
    padding: 1.25rem;
    border: none;
    font-size: 12px;
}
textarea.view {
    height: 7.625rem;
    width: 82%;
    
}
input.view {
  height: 10px;
}

::placeholder {
  font-size: 0.938rem;
  line-height: 1.563rem;
  color: #ffffff;
  font-weight: 300;
  font-family: "Raleway";
}
input:focus,
textarea:focus {
  font-weight: bold;
  color: #ffffff;
  outline: none;
}
.content__info {
  margin-bottom: 1.25rem;
}

.adress,
.email,
.phone {
    margin-bottom: -30px;
    margin-top: 15px;
}

footer {
    background-color: black;
    /* width: 100%; */
    /* height: 100%; */
    position: sticky;
}
.made-by p,
.rights p {
  color: #6a6a6a;
}
.footer-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
}

.line:hover:before {
  content: "";
  border-left: 5px solid #355b82;
  position: absolute;
  height: 3.125rem;
  margin-top: 2.438rem;
}
.contact-form {
  position: relative;
}
.text-area:hover:before {
  content: "";
  border-left: 5px solid #355b82;
  position: absolute;
  height: 15.62rem;
  margin-top: 2.438rem;
}
