@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.design-background {
    background-image: url(img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100hv;    
}
.header-content {
    margin: 0 auto;
    width: 100%;
    max-width: 565px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 280px;
    padding-bottom: 395px;
}

.header__logo {
    padding-bottom: 90px;
}
.header__text > h3 {
    font-size: 54px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    line-height: 60px;
    padding-bottom: 50px;
}
.header__text > p {

    font-size: 15px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
}

i.fas {
   color: white;
    font-size: 38px;
    padding-top: 245px;
}
a.url {  
    padding-left: 46%;
}

.about__border,
.services__border,
.what-we-do__border {
    border: 2px solid black;
    border-top: none;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.about__content > h3,
.services__content > h3,
.what-we-do__content > h3 {
    font-size: 34px;
    letter-spacing: 5px;
    color: #3c3c3c;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    padding-bottom: 65px;
}
.what-we-do__content {
    width: 553px;
    height: 324px;
    font-size: 14px;
    line-height: 26px;
    color: #3c3c3c;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
}

.about__content > p,
.services__content > p,
.what-we-do__content > p{
    width: 553px;
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
    padding-bottom: 30px;
}

.services-background {
    background-image: url(img/services.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100hv;  
}
.about {
    padding-top: 145px;
    padding-bottom: 160px;   
}
.services {
    padding-top: 115px;
    padding-bottom: 105px;
}
.what-we-do {
    padding-top: 105px;
    padding-bottom: 115px
}
 h5 {
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    color: #3c3c3c;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
}